#menus, .panel-body {
    overflow: hidden;
}

    #menus ul {
        list-style: none;
        width: 100%;
        padding-left: -40px !important;
        overflow: hidden;
    }

        #menus ul li {
            font-family: "Segoe UI";
            font-size: 13px;
            color: #444444;
            cursor: pointer;
            width: 100%;
            margin-left: -40px;
            padding-left: 50px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: solid 1px #fff;
            border-left: 0px;
            border-right: 0px;
        }

            #menus ul li:hover {
                border: solid 1px #C6C6C6;
                border-left: 0px;
                border-right: 0px;
            }

        #menus ul .active {
            border: solid 1px #C6C6C6;
            border-left: 0px;
            border-right: 0px;
            background-image: url('/Static/Images/arrow.png');
            background-repeat: no-repeat;
            background-position-x:29px;
            background-position-y:8px;
        }
